//- about.pug
//-Amarjeet Singh
//-This file contains contents for the about me page
extends layout

block content
  h1 About Me
  h2 Introduction
  p I am Amarjeet Singh. I am #{age} years old. I am an international student studying in Georgian college.  
  h2 More information about me
  ul
    li I am from India and I belong to a sikh family.
    li I have a nuclear family in which I have my father, my mother and my elder sister.
    li I live with my sister and brother-in-law in canada.
    li I work part time at Dominos. 