//- about.pug
//-Amarjeet Singh
//-This file contains contents for the contact me page
extends layout

block content
  h1 Contact Me
  ul
  li Phone Number: 705-790-0567 
  li Email: amarjeetsinghk2710@gmail.com

