//- Projects.pug
//-Amarjeet Singh
//-this file contains contents for the projects page
extends layout

block content
  h1 Projects
  h2 Calculator 
  //- adding the list to addres the feature of the project
  ul 
    li A basic calculator application built by using android studio.
    li Created an interactive interface of the calculator.
    li Built using java programming methodologies.
    li Used android emulator to test and debug the application. 
  h2 Website 
  //- adding the list to addres the feature of the project
  ul
    li Designed a fully working website using cloud computing.
    li A well-organized website where user can post an advertisement to sell their products and view other advertisements posted by people.
    li Set up GitHub repo properly and used it to effectively manage work.
    li Utilized validation, web API, ajax and unit testing method. Created using the MVC pattern and data is stored using MySQL databases. 