//- Work.pug
//- Amarjeet Singh
//-This file comtains the contents for Services file
extends layout

block content
  h1 Services Provided
  .service
    ul 
      li Java programming methodolgies
      li Android and ios application development
      li Using smartsheet to develop project plans. 
      